*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --background-color: #D9CDF7;
    --main-color: #271A45
}

.container{
    background-color: var(--background-color);
    min-width: 100vw;
    min-height: 100vh;
}

#product-info > * {
    color: var(--main-color);
}